<p>
  activities works!
</p>
<div class="col-md-4">
  <table class="table table-striped">
    <thead>
    <th>#</th>
    <th>molregno</th>
    <th>prodrug</th>
    <th>maxPhase</th>
    <th>prefName</th>
    </thead>
    <tbody>
    <tr *ngFor="let mol of cachedItemList; let idx = index">
      <td>{{idx}}</td>
      <td>{{mol.node.molregno}}</td>
      <td>{{mol.node.prodrug}}</td>
      <td>{{mol.node.maxPhase}}</td>
      <td>{{mol.node.prefName}}</td>
    </tr>
    </tbody>
  </table>
  <pagination
    [totalItems]="totalItems"
    [(ngModel)]="currentPage"
    (pageChanged)="pageChanged($event)"
    [maxSize]="maxSize">
  </pagination>
</div>
<div>
</div>
